.container {
  width: 100vw;
  height: 100vh;
  background-color: #344151;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.increamentdecreament {
  color: #0398d4;
  font-weight: 500;
  font-size: 24px;
}


.box {
  background-color: white;
  display: flex;
  justify-content: center;
  gap: 48px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 2px;
  font-size: 25px;
  color: #344151;
}
.decreaseHandler {

  border-right: 2px solid #bfbfbf;
  width: 80px;
  font-size: 48px;
}


.reset {
  background-color: #0398d4;
  color: white;
  padding: 0.5rem 1.25rem; /* py-2 (0.5rem), px-5 (1.25rem) */
  border-radius: 0.125rem; /* rounded-sm */
  font-size: 1.125rem; /* text-lg */
}